src/edu/ncat/struts2/webInterface.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://esterline.ncat.edu/webInterface">
	<xs:element name="Scenario">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
				<xs:element name="evidenceClass" type="xs:string"/>
				<xs:element name="description" type="xs:string"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:integer" />
		</xs:complexType>
	</xs:element>
</xs:schema>